In [ ]:

from dotenv import load_dotenv
import pandas as pd
import os
from sqlalchemy import create_engine

load_dotenv()  # Carga las variables de entorno del archivo .env

# Datos de conexión
usuario = os.getenv('DB_USER')
contraseña = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
puerto = os.getenv('DB_PORT')
base_datos = os.getenv('DB_NAME')

# Crear el motor de conexión con SQLAlchemy y mysql-connector
conexion_str = f"mysql+mysqlconnector://{usuario}:{contraseña}@{host}:{puerto}/{base_datos}"
conexion = create_engine(conexion_str)

pedidos = pd.read_sql("SELECT * FROM Pedidos ORDER BY Destinatario DESC", conexion)
print("Consulta realizada correctamente. Muestra de datos:")
display(pedidos.head())

####  PRACTICA 33

CARGAREMOS DEL SERVIDOR DE SQL SERVER 2 DATAFRAMES QUE CONTENGAN POR SEPARADO, LOS PEDIDOS SOLAMENTE DEL PAIS FRANCIA Y LOS DETALLES DE PEDIDOS. REALIZAREMOS LAS TRANSFORMACIONES NECESARISS PARA TENER EN UN DATAFRAME LA SUMA DE IMPORTE (Preciounidad x Cantidad) por CiudadDestinatario

In [2]:
# Practica 33

from dotenv import load_dotenv
import pandas as pd
import os
from sqlalchemy import create_engine

load_dotenv()  # Carga las variables de entorno del archivo .env

# Datos de conexión
usuario = os.getenv('DB_USER')
contraseña = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
puerto = os.getenv('DB_PORT')
base_datos = os.getenv('DB_NAME')

# Crear el motor de conexión con SQLAlchemy y mysql-connector
conexion_str = f"mysql+mysqlconnector://{usuario}:{contraseña}@{host}:{puerto}/{base_datos}"
conexion = create_engine(conexion_str)

# Cargar los DataFrames
SQL = "select IdPedido, CiudadDestinatario from Pedidos where PaísDestinatario='Francia'"
pedidos_francia = pd.read_sql(SQL, conexion)
SQL = "select IdPedido, PrecioUnidad, Cantidad from `Detalles de pedidos`"
detalles_pedido = pd.read_sql(SQL, conexion)

# Hacer merge
resultado = pd.merge(pedidos_francia, detalles_pedido, on="IdPedido", how="inner")

# Crear la columna Importe
resultado['Importe'] = resultado['PrecioUnidad'] * resultado['Cantidad']

# Agrupar por CiudadDestinatario y sumar Importe
resultado_agrup = resultado.groupby(['CiudadDestinatario'])['Importe'].sum().reset_index()

# Mostrar resultado
display(resultado_agrup)

  CiudadDestinatario   Importe
0              Lille  11666.90
1               Lyon   9937.10
2          Marseille  23850.95
3             Nantes   4788.06
4              Paris   2423.35
5              Reims   1040.00
6         Strasbourg  19088.00
7           Toulouse  10272.35
8         Versailles   1992.05