In [ ]:
import pandas as pd

numeros = pd.Series([18,12,38,4,76,52,25,44])
print(numeros)
#Como ordenar una serie numerica
print(numeros.sort_values(ascending=True))
#Si quiero modificar el indice
print(numeros.sort_values(ascending=True, ignore_index=True))

In [ ]:
#Como filtrar valores
numeros[numeros>30].sort_values(ascending=True)

In [ ]:
# 2 Funciones estadisticas interesantes

print("La varianza es ",round(numeros.var(),2))
print("La desviacion tipica es ",round(numeros.std(),2))

#### PRACTICA 25
CREAREMOS UNA SERIE NUMERICA DE PANDAS CON LOS SIGUIENTES NUMEROS:
[34,124,81,9,81,34,124,75,18,124,81,67,22,16]
ESTA SERIE SE LLAMARA  "Numeros VIP", clonaremos la serie para tener solo los numeros mayores de 50 en orden descendente y reindexado, esta serie sera "Numeros VIP 50" a esta nueva serie le aplicaremos una funcion por la que si el valor es menor de 80 le reste 2 y si es mayor le sume 2
. Ver en un Textto "El promedio de la serie es "   Ver en un texto la varianza, Ver en un texto el número de elementos.

In [ ]:
import pandas as pd
Numeros_VIP = pd.Series([34,124,81,9,81,34,124,75,18,124,81,67,22,16])
Numeros_VIP50 = Numeros_VIP[Numeros_VIP>50].sort_values(ascending=False, ignore_index=True)
print(Numeros_VIP50)

#Una funcion que me da el numero de veces que esta un valor
print(Numeros_VIP50.value_counts())


# Función: -2 si <80, +2 si >80
def ajustar_valor(x):
    return x - 2 if x < 80 else x + 2
Numeros_VIP50 = Numeros_VIP50.apply(ajustar_valor)
print(Numeros_VIP50)

# Estadísticas
promedio = round(Numeros_VIP50.mean(),2)
varianza = round(Numeros_VIP50.var(),2)
cantidad = round(Numeros_VIP50.count(),2)

# Mostrar textos solicitados
print(f"\nEl promedio de la serie es: {promedio}")
print(f"La varianza de la serie es: {varianza}")
print(f"El número de elementos de la serie es: {cantidad}")

DATAFRAMES:
Estructuras de 2 dimensiones

In [ ]:
import pandas as pd

pedidos = pd.DataFrame([
    {'Cliente': "Comercial Suministros", "Precio":2.75, "Cantidad":29},
    {'Cliente': "Almacenes Gómez", "Precio":5.80, "Cantidad":52},
    {'Cliente': "Distribuciones Marquez", "Precio":11.17, "Cantidad":290},
    {'Cliente': "Productos Industriales", "Precio":4.60, "Cantidad":42},
    {'Cliente': "Tornilleria Gómez", "Precio":8.72, "Cantidad":32}
])
print(pedidos)   #Sale en formato Python
pedidos         # Sale en formato Pandas

In [ ]:
# Ver los primeros n registros

pedidos.head(2)
# Ver los ultimos n registros
pedidos.tail(2)
# Ver solamente una serie
pedidos['Cliente']
# Como ver mas de un campo a la vez
pedidos[['Precio','Cliente']]
#Como añadir una columna/campo a un DataFrame    hay 3 maneras
# 1 Poniendo un valor fijo
# 2 Con la función apply
# 3 Partiendo de una o más de una columna
# 4 Mediante loc o iloc

pedidos['Comercial'] = "Manolo Garcia"  # Opcion 1 poniendo valor fijo
pedidos

In [ ]:
pedidos['Cantidad2'] = pedidos['Cantidad'] * 2   # Opcion 3 partiendo de una o mas columnas
pedidos

In [ ]:
# 2 Con Apply
def columna_nueva(x):
    if x>35:
        return x+10
    else:
        return x-10

#Aplico la funcion     
pedidos['Cantidad3'] = pedidos['Cantidad'].apply(columna_nueva)
pedidos

####    PRACTICA 26
SOBRE EL DATAFRAME PEDIDOS:   Crear un campo nuevo que se llame (dif_cantidad) Que me de la diferencias entere la cantidad mas grande y la cantidad de cada fila

In [ ]:
import pandas as pd

pedidos = pd.DataFrame([
    {'Cliente': "Comercial Suministros", "Precio":2.75, "Cantidad":29},
    {'Cliente': "Almacenes Gómez", "Precio":5.80, "Cantidad":52},
    {'Cliente': "Distribuciones Marquez", "Precio":11.17, "Cantidad":290},
    {'Cliente': "Productos Industriales", "Precio":4.60, "Cantidad":42},
    {'Cliente': "Tornilleria Gómez", "Precio":8.72, "Cantidad":32}
])

def columna_nueva(x):
    x = 290 - x
    return x

pedidos['dif_cantidad'] = pedidos['Cantidad'].apply(columna_nueva)
pedidos

# Solucion del profesor
# Encontrar la cantidad más grande
#cantidad_maxima = pedidos["Cantidad"].max()

# Crear la columna 'dif_cantidad' como la diferencia respecto a la cantidad máxima
#pedidos["dif_cantidad"] = cantidad_maxima - pedidos["Cantidad"]

# Mostrar el resultado
#print(pedidos)

####   PRACTICA 27

Crear una columna (Precio 2) Que incremente el valor de precio en un 10% si el precio es mayor de 5.50

In [ ]:
import pandas as pd

pedidos = pd.DataFrame([
    {'Cliente': "Comercial Suministros", "Precio":2.75, "Cantidad":29},
    {'Cliente': "Almacenes Gómez", "Precio":5.80, "Cantidad":52},
    {'Cliente': "Distribuciones Marquez", "Precio":11.17, "Cantidad":290},
    {'Cliente': "Productos Industriales", "Precio":4.60, "Cantidad":42},
    {'Cliente': "Tornilleria Gómez", "Precio":8.72, "Cantidad":32}
])

def precio2(x):
    if x > 5.50:
        return x * 1.1
    else:
        return x
    
pedidos['Precio2'] = pedidos['Precio'].apply(precio2)
pedidos

In [ ]:
import pandas as pd
#  Para cargar un  dataframe , de un fichero plano csv no hace falta bajar nada adicional

January2019 = pd.read_csv('/Users/rogerdefez/Documents/VSCWorkspace/Data-Science-Project/Ciencia-de-datos-Python-Institute-PCED-30-Ed3/January 2019.csv')
January2019

February2019 = pd.read_csv('/Users/rogerdefez/Documents/VSCWorkspace/Data-Science-Project/Ciencia-de-datos-Python-Institute-PCED-30-Ed3/February 2019.csv')
February2019

In [ ]:
# Como ver informacion sobre el DAtaFrame
January2019.info()

In [ ]:
# Los 5 primeros nombres de clientes ordenados de la a a la z

January2019['Customer'].head(5).sort_values(ascending=True)

In [ ]:
# Como crear una columna y como eliminarla

January2019['Aeliminar'] = "A eliminar"
January2019
# Como eliminar, con drop eliminamos, con drop + axis =1 columansa
# con drop + axis = 0 para eliminar filas
#January2019 = January2019.drop(['Aeliminar'],axis=1)
#January2019
# Alternativa : El inplace
January2019.drop(['Aeliminar'],axis=1,inplace=True)
January2019
# En todos los sistemas la importacion es de lecturas
# Eliminamos una fila
January2019.drop([2],axis=0,inplace=True)
January2019

In [ ]:
#Ver los primeros 3 registrosvcuyas Units sean mayor de 100
January2019[January2019['Units']>100].sort_values(ascending=True, by="IdOrder").head(3)

In [ ]:
# Vamos a ver los registros cuy nombre de de Customers contenga la palabra de Industries
# el accesor, el accesor str
January2019[January2019['Customer'].str.contains('Industries')].tail(10)

In [ ]:
#  Para ver los paises que contienen C

filtro = January2019['Country'].str.contains('C.*')
January2019[filtro]

In [ ]:
#  Para ver los paises que contienen Industries o industries

filtro = January2019['Customer'].str.contains('[Ii]ndustries')
January2019

In [76]:
# Como anexar 2 dataframes , con concat, para anexar 2 dataframes deben tener la misma estructura
#Significa mismas columnas y con los mismos nombres

dosmeses = pd.concat([January2019,February2019],ignore_index=True)
dosmeses

     IdOrder        Date   Country  Units   Revenue           Customer
0          1  2019-01-08       USA    343  15461.36  Octan Corporation
1          2  2019-01-04    Panama     93   4681.26    Rich Industries
2          4  2019-01-16    Brazil    103   1853.78     Hexagon Global
3          5  2019-01-17       USA     28    286.30  Octan Corporation
4          6  2019-01-24    Canada    372  24826.98  Spacely Sprockets
..       ...         ...       ...    ...       ...                ...
400      402  2019-02-20    Panama    115   1572.80            LexCorp
401      403  2019-02-28    Canada    243  20965.83     Hexagon Global
402      404  2019-02-02  Colombia     16    132.29     Weyland-Yutani
403      405  2019-02-15  Colombia    114   3767.13            LexCorp
404      406  2019-02-12    Brazil    268   3750.49            Initech

[405 rows x 6 columns]

#### PRACTICA 28:
Queremos tener un DataFrame clonado de January2019 que contenga solamente los customers cuy nombre contanga la palabra "Systems" y ordenados ade a a z

In [81]:
ClonJanuary2019 = January2019[January2019['Customer'].str.contains('Systems')].sort_values(by = 'Customer', ascending=True)
ClonJanuary2019

,IdOrder,Date,Country,Units,Revenue,Customer
16,17,2019-01-15,Colombia,392,16229.64,Cyberdyne Systems
78,79,2019-01-13,Panama,283,24813.10,Cyberdyne Systems
123,124,2019-01-03,Colombia,10,729.39,Cyberdyne Systems
132,133,2019-01-24,Panama,146,10130.00,Cyberdyne Systems
136,137,2019-01-06,Colombia,56,535.82,Cyberdyne Systems
152,153,2019-01-23,Panama,212,8763.35,Cyberdyne Systems
159,160,2019-01-22,Canada,239,755.94,Cyberdyne Systems
23,24,2019-01-07,Canada,306,4131.21,Hyperion Systems
51,52,2019-01-01,Brazil,86,1264.87,Hyperion Systems
109,110,2019-01-04,Colombia,251,16268.15,Hyperion Systems
137,138,2019-01-22,Colombia,399,13430.62,Hyperion Systems
10,11,2019-01-27,Canada,187,4046.31,Yoyodyne Propulsion Systems
127,128,2019-01-04,USA,330,10523.01,Yoyodyne Propulsion Systems

#### PRACTICA 29:
Queremos ver en un texto el número de customers cuyo nombre termina por n  de la tabla dosmeses

In [90]:
print("El número de registros que terminan con n es: ", 
      dosmeses[dosmeses['Customer'].str.endswith('n')].IdOrder.count())

El número de registros que terminan con n es:  82

#### PRACTICA 30:
Queremos una lista donde ver los 10 primeros customers cuyo country sea Canada

In [92]:
dosmeses[dosmeses['Country']=='Canada'].head(10)

    IdOrder        Date Country  Units   Revenue                     Customer
4         6  2019-01-24  Canada    372  24826.98            Spacely Sprockets
5         7  2019-01-26  Canada     61   1592.42                       BiffCo
6         8  2019-01-28  Canada    264   3228.11           Delos Incorporated
7         9  2019-01-13  Canada     27    257.97            Monarch Solutions
9        11  2019-01-27  Canada    187   4046.31  Yoyodyne Propulsion Systems
22       24  2019-01-07  Canada    306   4131.21             Hyperion Systems
23       25  2019-01-27  Canada    141   9419.58                      Initech
27       29  2019-01-05  Canada    289   5758.91                 Soylent Corp
32       34  2019-01-08  Canada    220  13798.08           Tyrell Corporation
34       36  2019-01-20  Canada    210  10027.93                       Oscorp

#### PRACTICA 31:
Queremos tener en un dataframe los meses de January a March y ver la suma total de Revenue, despues de aplicar un descuento del 5.63% si el Country es Colombia, sinó no hay descuento

In [95]:
January2019 = pd.read_csv('/Users/rogerdefez/Documents/VSCWorkspace/Data-Science-Project/Ciencia-de-datos-Python-Institute-PCED-30-Ed3/January 2019.csv')

February2019 = pd.read_csv('/Users/rogerdefez/Documents/VSCWorkspace/Data-Science-Project/Ciencia-de-datos-Python-Institute-PCED-30-Ed3/February 2019.csv')

March2019 = pd.read_csv('/Users/rogerdefez/Documents/VSCWorkspace/Data-Science-Project/Ciencia-de-datos-Python-Institute-PCED-30-Ed3/March 2019.csv')

trimestre = pd.concat([January2019,February2019,March2019],ignore_index=True)
trimestre

# Voy a tener  un objeto con los registros de Colombia
# Voy a tener  un objeto con los registros que no sean de Colombia

trimestreC = trimestre[trimestre['Country']=="Colombia"]
trimestreC

trimestreNC = trimestre[trimestre['Country']!="Colombia"]
trimestreNC

#Aplico el descuento % en Colombia
trimestreC['Revenue'] = trimestreC['Revenue']*(1-0.0563)

trimestrefinal = pd.concat([trimestreC,trimestreNC],ignore_index=True)



#def descuento(Country):
#    if Country=="Colombia":
#        return 0.0563
#    else return 0
#partiria del trimestre
#trimestre['Revenue'] = (1-trimestre['Country'].apply(descuento))*trimestre['Revenue']

/var/folders/6f/lhr87vh51bq38sm9v46389m00000gn/T/ipykernel_8600/1410753703.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimestreC['Revenue'] = trimestreC['Revenue']*(1-0.0563)

In [ ]:
# Ventas Grocery meses
# Como cargar un fichero de excel : Tenemos que cargar una libreria openpyxl 
# Con excel tendre que decir el archivo que quiero y la hoja del archivo

import pandas as pd

#Creo una variable con el fichero para evitar tener que hacer cambios

fichero = '/Users/rogerdefez/Documents/VSCWorkspace/Data-Science-Project/Datos para ejercicios/VentasGroucery_Meses.xlsx'

hojaAgosto ='Ventas Agosto 2014' 
Agosto2014 = pd.read_excel(fichero,sheet_)
''